<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    @*<script src='~/Scripts/bundles/phunwaremaascore/js/lib/heatmap/leaflet-src.js'></script>
        <script src='~/Scripts/bundles/phunwaremaascore/js/lib/heatmap/leaflet.draw-src.js'></script>

        <link href='~/Scripts/bundles/phunwaremaascore/css/lib/leaflet/leaflet.css' rel='stylesheet' />
        <link href='~/Scripts/bundles/phunwaremaascore/css/lib/leaflet.draw/leaflet.draw.css' rel='stylesheet' />*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>*@


    <link href="~/Scripts/bundles/phunwaremaascore/css/lib/leaflet/leaflet.css" rel="stylesheet" />
    <link href="~/Scripts/bundles/phunwaremaascore/css/lib/leaflet.draw/leaflet.draw.css" rel="stylesheet" />

    <script src="~/Scripts/bundles/phunwaremaascore/js/lib/heatmap/leaflet-src.js"></script>
    <script src="~/Scripts/bundles/phunwaremaascore/js/lib/heatmap/leaflet.draw-src.js"></script>
    <script src="~/Scripts/bundles/phunwaremaascore/js/flashbang.min.js"></script>

    @*<script src="~/Scripts/leaflet/leaflet.js"></script>*@
    @*<script src="~/Scripts/leaflet/leaflet.draw.js"></script>*@


    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css" rel="stylesheet" />*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>*@
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/leaflet/leaflet-src.js"></script>*@
    @*<script src="~/Scripts/leaflet/leaflet.ajax.js"></script>*@
</head>

<body>
    <div id="map-container">
        <div id="map" style="width: 580px; height: 550px; border: 1px solid #ccc"></div>
    </div>
    @*<div id='delete'>Delete Features</div>
        <a href='#' id='export'>Export Features</a>*@
    @*<script src="~/Scripts/sw-map.js"></script>*@
    <script src="~/Scripts/sw-map_New.js"></script>
    <script>
        $(document).ready(function () {
            mapManager.initLatLongMap();
        });
    </script>
</body>
</html>